/**
 * ```
 * 李鸿章 <poodll@163.com>
 * 9/6/2019, 5:31:08 PM
 * ```
 * doc comment for the file goes here
 */

/** Happy Coding */
@import '~_sass/vars';

// $color: theme color:
// $color-{white,black}-{1..9}0: lighten or darken
// $color-font-head: heading color
// $color-font: text main color
// $color-font-gray: text secondary color
// $color-border: border color
// $color-background: background color
// $color-{fail,okay,warn,info,dead}: status colors
// `box-shadow`: $box-shadow

.draw-grid {
  &-main {
    // margin: 0 auto;
    // width: 200px;
    // height: 200px;
    display: grid;
    background: gray;
    gap: 1px;
    // border: 1px solid gray;
    &-disabled {
      opacity: 0.382;
    }
  }
  &-item {
    transition: 200ms;
    background: white;
    &-selected {
      background: pink;
    }
  }
  &-move {
    background: white;
    width: 5px;
    height: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &-okay {
    background: pink;
    width: 8px;
    height: 8px;
    position: absolute;
    right: -9px;
    bottom: -9px;
  }
}
